<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
        <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Flack</title>

    </head>

    <body>

        <ul id="message"></ul>
        <input type="text"></input>
        <button id="btn" type="submit">Click</button>

    </body>

</html>
